footer.footer.text-center
  .container
    .row
      .col-md-12
        .icons
          a(href='lol')
            i.fa.fa-behance
          a(href='')
            i.fa.fa-dribbble
          a(href='')
            i.fa.fa-twitter
          a(href='')
            i.fa.fa-facebook
          a(href='')
            i.fa.fa-linkedin
        p
          | COPYRIGHT © 2016 
          a(href='#') Rate My Life Team
