header.top-header
  nav.navbar.navbar-default.navbar-custom
    .container-fluid.nav-bar
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          i.fa.fa-check-square-o
          | Rate my life
      #collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          if title == 'Home'
            li
              a(onclick="goToAnchor('#home')") Home
            li
              a(onclick="goToAnchor('#features')") Features
            li
              a(onclick="goToAnchor('#contact')") Contact
          else
            li
              a(href='/') Home
          if !user
            li
              a(href='/auth/facebook') Login
          else
            li.dropdown(class=(title == 'Account Management') ? 'zactive' : undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                if user.profile.picture
                  img(src=user.profile.picture)
                else
                  img(src=user.gravatar(60))
                span= user.profile.name || user.email || user.id
                i.caret
              ul.dropdown-menu
                li
                  a(href='/account') My Account
                li.divider
                li
                  a(href='/logout') Logout
